<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Richard's Blog</title>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.0/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	{% endblock head %}
</head>
<body>

	{% block nav %}
	<!-- fixed-top -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/">Richard's Blog</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
		        <a class="nav-link" href="/">Home</a>
		      </li>
		      <li class="nav-item {% if active_page == 'about' %}active{% endif %}">
		        <a class="nav-link" href="/about">About</a>
		      </li>
		    </ul>
		  </div>
		</div>
	</nav>
	{% endblock nav %}

	<main class="container">
		{% block content %}{% endblock content%}

	</main>

	{% block footer %}
	 	<footer>
	 		<!-- class="fixed-bottom" -->
	 		<div class="container">
	 			<div class="footer-content">
		      <p class="float-left">
		        <small> &copy; 2019 <a href="https://github.com/liuchunhuicanfly" title="Written by Richard Liu">Richard Liu</a> -
		          <a href="https://github.com/liuchunhuicanfly" title="Fork me on GitHub">GitHub</a>
		        </small>
		     	</p>
		      <p class="float-right">
		        <small>
		        	{% if current_user.is_authenticated %}
								<a href="{{ url_for('settings') }}">settings |</a>
								<a href="{{ url_for('logout') }}">logout</a>
		        	{% else %}
								<a href="{{ url_for('login') }}">Login</a>
		        	{% endif%}
		        </small>
		      </p>
	      </div>
      </div>
    </footer>
	{% endblock footer %}

	{% block scripts %}
		<script type="text/javascript" src="{{url_for('static', filename='jquery-3.2.1/jquery.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='popper-1.12.9/popper.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='bootstrap-4.0/js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
	{% endblock scripts %}
</body>
</html>